<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" href="//static/images/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="//static/images/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-admin.min.css">
    <title>backtype-video</title>
</head>
<body>

<div class="min-vh-100 d-flex justify-content-center align-items-center py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-8 col-lg-6 col-xl-4 mx-auto">
                <div class="card shadow border-0 bg-white">
                    <div class="card-header bg-white border-bottom p-4 text-center">
                        <a href="#" class="fs-4 text-dark text-decoration-none">
                            backtype-video
                        </a>
                    </div>
                    <div class="card-body">
                        <form id="form" class="form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">账号</label>
                                <input type="text" class="form-control" id="username" name="username"
                                       placeholder="邮箱/用户名/手机号">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">密码</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="请输入密码">
                            </div>
                            <div class="mb-3">
                                <label for="password_confirm" class="form-label">确认密码</label>
                                <input type="password" class="form-control" id="password_confirm"
                                       name="password_confirm" data-fv-field="password_confirm" autocomplete="off">
                                <div class="invalid-feedback" data-fv-validator="identical"
                                     data-fv-for="password_confirm" data-fv-result="NOT_VALIDATED"
                                     style="display: none;">和密码不一致
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="sexRadio1" class="form-label">性别</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sex" id="sexRadio1"
                                               value="男" checked="" data-fv-field="sex" autocomplete="off">
                                        <label class="form-check-label" for="sexRadio1">先生</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sex" id="sexRadio2"
                                               value="女" data-fv-field="sex" autocomplete="off">
                                        <label class="form-check-label" for="sexRadio2">女士</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">手机</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                           data-fv-field="phone" autocomplete="off">
                                    <div class="invalid-feedback" data-fv-validator="notEmpty" data-fv-for="phone"
                                         data-fv-result="NOT_VALIDATED" style="display: none;">请填写必填项目
                                    </div>
                                    <div class="invalid-feedback" data-fv-validator="callback" data-fv-for="phone"
                                         data-fv-result="NOT_VALIDATED" style="display: none;">手机号错误
                                    </div>
                                </div>
                                <div class="invalid-feedback" data-fv-validator="notEmpty" data-fv-for="sex"
                                     data-fv-result="NOT_VALIDATED" style="display: none;">请填写必填项目
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">邮箱</label>
                                <input type="text" class="form-control" id="email" name="email" data-fv-field="email"
                                       autocomplete="off">
                                <div class="invalid-feedback" data-fv-validator="notEmpty" data-fv-for="email"
                                     data-fv-result="NOT_VALIDATED" style="display: none;">请填写必填项目
                                </div>
                                <div class="invalid-feedback" data-fv-validator="emailAddress" data-fv-for="email"
                                     data-fv-result="NOT_VALIDATED" style="display: none;">email格式错误
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="captcha" class="form-label">验证码</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="captcha" name="captcha"
                                           placeholder="请输入验证码">
                                    <img src="/users/generate_code/" alt="验证码" class="bsa-cursor-pointer"/>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                                <button id="login-btn" type="submit" class="btn btn-primary">立即注册</button>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer bg-white">
                        <div class="text-center p-2 text-muted">
                            Copyright © 2026 backtype All right reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--表单验证相关依赖-->
<script src="/static/lib/jquery/dist/jquery.min.js"></script>
<script src="/static/lib/formvalidation/js/formValidation.js"></script>
<script src="/static/lib/formvalidation/js/framework/bootstrap.js"></script>
<script src="/static/lib/formvalidation/js/language/zh_CN.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/bootstrap-admin.min.js"></script>
<script>
    //前端表单验证
    $('#form').formValidation({
        fields: {
            username: {
                validators: {
                    notEmpty: true,     //不能为空
                    remote: {   //通过发送ajax请求的验证器
                        type: 'post',
                        url: '/users/check_username/',
                        headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},  // 注意放到引号里面
                        data: {
                            type: 'save',
                        },
                        //请求失败的消息
                        message: "系统繁忙,请稍后再试",
                        delay: 1000
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: "密码不能为空"
                    },
                    different: {
                        field: "username",
                        message: "密码不能和用户名相同"
                    }
                }
            },
            password_confirm: {
                validators: {
                    identical: {
                        field: 'password',
                        message: '和密码不一致'
                    }
                }
            },
            sex: {
                validators: {
                    notEmpty: true,
                }
            },
            phone: {
                validators: {
                    notEmpty: true,
                    callback: {
                        callback: function (value, validator, $field) {
                            var reg1 = /^\+86-1[3-9]\d{9}$/;
                            var reg2 = /^1[3-9]\d{9}$/;
                            return reg1.test(value) || reg2.test(value);
                        },
                        message: '手机号错误'
                    }
                },
            },
            email: {
                validators: {
                    notEmpty: true,
                    emailAddress: {
                        message: "email格式错误"
                    }

                }
            },
            captcha: {
                validators: {
                    notEmpty: true,
                    remote: {
                        type: 'post',
                        url: '/users/verify_code/',
                        headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},  // 注意放到引号里面
                        data: {
                            type: 'save',
                        },
                        //请求失败的消息
                        message: "系统繁忙,请稍后再试",
                        delay: 1000
                    }
                }
            }
        }
    }).on('success.form.fv', function (e) {
        //阻止表单提交
        e.preventDefault();
        //得到表单对象
        var $form = $(e.target);
        let data = $form.serialize();

        //得到序列化数据
        $.ajax({
            url: "/users/submit_register/",
            method: 'post',
            headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},  // 注意放到引号里面
            data: data,
        }).then(function (res) {
            if (res.code === 200) {
                //注册成功
                alert('注册成功')
            } else {
                //注册失败
                alert('注册失败')
            }
        });
    });

</script>

</body>
</html>
